
<mat-card *ngIf="!isCreatingCard" (click)="onCreateCard()" class="create-card">
  <mat-icon class="create-card-add-icon">add</mat-icon>  
  <span class="underline-on-hover">Create card...</span>
</mat-card>
<div *ngIf="isCreatingCard">
  <mat-card class="card">
      <textarea #cardNameTextArea [(ngModel)]="cardName" class="add-card-text-area" placeholder="Enter a title for this card…"></textarea>
  </mat-card>
  <div>
    <button mat-raised-button color="primary" (click)="onAddCard()" [disabled]="!canAddCard()">Add Card</button>
    <button mat-icon-button (click)="onCancelCreateCard()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>
