.board-ui {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 50px 1fr;
  background-color: #0079bf;
  color: #eee;
}

.lists {
  display: flex;
  overflow-x: auto;
}

.lists > * {
  flex: 0 0 auto;
  margin-left: 10px;
}

.lists::after {
  content: "";
  flex: 0 0 10px;
}

.list {
  width: 300px;
  min-height: 1em;
  height: calc(100% - 10px - 24px);
}

.create-list {
  background-color: rgba(0,0,0,.12);
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
}

.create-list:hover {
  background-color: rgba(0,0,0,.24);
}

.board-name {
  margin-left: 0.5em;
  font-size: large;
}

.board-name:hover {
  background: rgba(0,0,0,.12);
}

.edit-name-card {
  width: 20em;
  position: absolute;
  margin-left: 0.5em;
  z-index: 1;
  padding: 1em;
}

.edit-name-header {
  box-sizing: border-box;
  color: #6b808c;
  display: block;
  line-height: 40px;
  border-bottom: 1px solid rgba(9,45,66,.13);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.edit-name-header-cancel {
  position: absolute;
  margin-left: 42%;
}