<div *ngIf="board != null">
  <h2>{{ board.name }}</h2>
</div>
<div *ngIf="!boardLoadError && board == null">
  <p>
    <mat-card class="loading-card" id="loadingCard">
      <p>
          Loading board data...
      </p>
      <p>
        <mat-progress-spinner
          class="center"
          color="primary"
          mode="indeterminate"
          [diameter]="40">
        </mat-progress-spinner>
      </p>
    </mat-card>
  </p>
</div>
<p *ngIf="boardLoadError">
  <mat-card class="error-card" id="errorCard">
    There was an error loading this board
  </mat-card>
</p>