.board-ui {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 50px 1fr;
  background-color: #0079bf;
  color: #eee;
}

.lists {
  display: flex;
  overflow-x: auto;
}

.lists > * {
  flex: 0 0 auto;
  margin-left: 10px;
}

.lists::after {
  content: "";
  flex: 0 0 10px;
}

.list {
  width: 300px;
  min-height: 1em;
  height: calc(100% - 10px - 24px);
}

.create-list {
  background-color: rgba(0,0,0,.12);
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
}

.create-list:hover {
  background-color: rgba(0,0,0,.24);
}

.board-name {
  display: flex;
  align-items: center;
  margin-left: 1em;
}