@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.error-card {
    width: 20em;
    margin: auto auto;
}

.loading-card {
    width: 20em;
    margin: auto auto;
}

.center {
    margin: 0 auto;
}

.card {
    padding: 0.5em;
    margin-bottom: 0.5em;
}

mat-card.card {
    padding: 8px !important;
}

html{
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
    overflow: hidden;
}