@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.error-card {
    width: 20em;
    margin: auto auto;
}

.loading-card {
    width: 20em;
    margin: auto auto;
}

.center {
    margin: 0 auto;
}

.card {
    padding: 0.5em;
    margin-bottom: 0.5em;
}

mat-card.card {
    padding: 8px !important;
}

html{
    height: 100%;
    color: #17394d;
    font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
body {
    min-height: 100%;
    margin: 0;
    overflow: hidden;
}

.card-modal .mat-dialog-container {
    background: #ebeef0;
}

div.card-description-preview > * {
    margin: 0 0 0.5em;
}